// COLORS

$background 	: #26272C;
$primary		: #F4B303;
$primary_medium	: #E58A00;
$primary_dark	: #E5360B;
$text			: #EAEAF4;
$gray_light		: #B2B2B2;
$gray			: #3D3E43;

// FONTS

$serif			: "Slabo 27px", serif;
$sans-serif		: "Lato", sans-serif;