@import '_variables.scss';
@import '_mixins.scss';

* {
	box-sizing: border-box;
}

body {
	font: 16px $sans-serif;
	color: $text;
	background: $background;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 .5em 0;
	font-family: $serif;
}
table {
	width: 100%;
	border-collapse: collapse;
}
.big {
	font-size: 27px;
}
.box {
	text-align: center;
	margin: .5em 1em;
	padding: 2em .7em;
}


.flexbox {
	@include flexbox;
	.flex-item {
		@include flex(1);
	}
}


.current-usage-value,
.current-usage-time {
	display: block;
}

.current-usage-time {
	font-size: 70%;
	color: $gray_light;
}

// LAST 24 Hours
.chart-container {
	text-align: center;
	padding:0;
	.chart {
		width: 100%;
		height: 300px;
	}
}

.last-24-low,
.last-24-avg,
.last-24-high {
	padding:0;
	h3 {
		display: inline-block;
	}
}
.last-24-low span {
	color: $primary;
}
.last-24-avg span {
	color: $primary_medium;
}
.last-24-high span {
	color: $primary_dark;
}

